// BORDERS
$border-common: 0.6rem;

// COLORS

$color-grey-white: #747171;
$color-text: white;
$color-sub-text: #ccc;

$color-blue: #0a85ed;

$color-blue-dark: #22223b;
$color-blue-dark--1: #4a4e69;
$color-black: #000;

//FONTS
$font-text: "Lexend Deca", sans-serif;
