@import "../../sass/abstracts/variables";

$todoItem-height: 5.2rem;

$color-green-light: #9ef01a;
$color-green: #008000;

$color-red-light: #f29479;
$color-red: #ba181b;

.todo {
  height: $todoItem-height;

  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;

  font-size: 1.8rem;
  text-align: initial;
  padding: 1rem;
  border-bottom: 1px solid $color-grey-white;

  &:not(:last-child) {
    margin-bottom: 0.5rem;
  }

  &__actions {
    width: 3.2rem;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0.5rem;
    font-size: 2rem;
    transition: all 0.2s;

    &:hover {
      cursor: pointer;
    }

    &--agree {
      color: $color-green;
      border: 2px solid $color-green;

      &:hover {
        background-color: $color-green-light;
      }
    }

    &--cancel {
      color: $color-red;
      border: 2px solid $color-red;

      &:hover {
        background-color: $color-red-light;
      }
    }
  }

  &__title {
    transition: all 0.15s ease;
    flex: 1;
    height: 4rem;

    padding: 1rem 1rem;

    font-size: inherit;
    font-family: inherit;
    background-color: inherit;
    color: $color-text;

    border-radius: $border-common;

    &:focus {
      background-color: $color-grey-white;
      border: 2px solid $color-blue;
    }

    &--done {
      text-decoration: line-through;
    }
  }
}

// For screen from 320px to 550px
@media only screen and (min-width: 320px) and (max-width: 550px) {
  .todo {
    height: 4rem;
    gap: 0.8rem;

    font-size: 1.2rem;
    padding: 0.5rem;

    &__actions {
      width: 2.2rem;
      height: 2.2rem;
      font-size: 1.4rem;
    }

    &__title {
      height: 3rem;
    }
  }
}
