.btn {
  &--submit {
    padding: 1.5rem;
    border-radius: 0.5rem;

    font-family: inherit;
    font-size: 1.4rem;

    background-color: #0a85ed;
    color: #fff;
    transition: transform 0.15s;
    backface-visibility: hidden;

    &:active {
      transform: scale(0.95);
    }
  }
}
